---
import { render } from "astro:content";
import { shortcodes } from "@/lib/shortcodes";
import Social from "./widgets/Social.astro";
import SocialData from "@/config/social.json";
import TOC from "./widgets/TableOfContents.astro";
import type { CollectionEntry } from "astro:content";
import { markdownify } from "@/lib/utils/textConverter";
import { useTranslations } from "@/lib/utils/i18nUtils.ts";
import OptimizedImage from "./utilities/OptimizedImage.astro";
import formatRelativeDate from "@/lib/utils/formatRelativeDate";
import PaginationForSingle from "./widgets/PaginationForSingle.astro";

interface Props {
  content: CollectionEntry<"blog">;
  class?: string;
}

const { content, class: className } = Astro.props;
const {
  data: { title, date, image, author, categories, tags },
} = content;

import config from ".astro/config.generated.json";
const { tableOfContents } = config.settings.markup;

const { Content, headings } = await render(content);
const tocHeadings = headings?.filter((heading) => heading.depth > 1);
const authorName = author || content.data.author || "";

// Check if table of contents is enable
const tocEnabled =
  tableOfContents?.enable && tocHeadings && tocHeadings.length > 0;

const t = await useTranslations(Astro.currentLocale as string);
---

<div class:list={["has-video-modal space-y-10 lg:col-span-8", className]}>
  {
    image && (
      <OptimizedImage
        width={896}
        height={560}
        widths={[600, 896, 1280]}
        sizes="(min-width: 1024px) 896px, 100vw"
        alt={title}
        src={image as string}
        loading="eager"
        fetchpriority="high"
        data-image-lightbox
        class:list={["h-80 w-full rounded-2xl object-cover md:h-112 xl:h-135"]}
      />
    )
  }

  <div class="max-w-full space-y-6">
    <ul
      class="text-text-default flex flex-wrap items-center gap-x-3 gap-y-1 text-base">
      {
        date && (
          <li class="before:bg-text-default relative pe-5 before:absolute before:inset-e-0 before:top-1/2 before:h-1 before:w-1 before:-translate-y-1/2 before:rounded-full before:content-['']">
            {date && markdownify(formatRelativeDate(date, "dd MMM, yyyy"))}
          </li>
        )
      }

      {
        categories?.map((category) => (
          <li class="before:bg-text-default relative pe-5 before:absolute before:inset-e-0 before:top-1/2 before:h-1 before:w-1 before:-translate-y-1/2 before:rounded-full before:content-['']">
            {markdownify(category)}
          </li>
        ))
      }

      {
        authorName && (
          <li>
            {t("blog.authorPrefix")} {markdownify(authorName)}
          </li>
        )
      }
    </ul>
    {tocEnabled && tocHeadings && <TOC toc={tocHeadings} marker={false} />}
    {
      Content && (
        <div class="prose-styles blog-detail-content content has-video-modal">
          <Content components={shortcodes} />
        </div>
      )
    }
    <div
      class="mt-10 flex w-full flex-wrap items-center justify-between gap-x-10 gap-y-5 md:mt-16">
      {
        tags && tags.length > 0 && (
          <div class="flex flex-wrap items-center gap-3">
            <span class="text-dark font-semibold">{t("blog.tagsLabel")}</span>
            {tags.map((tag) => (
              <span
                class="bg-theme-light text-dark rounded-md px-4 py-2 text-sm capitalize"
                set:html={markdownify(tag)}
              />
            ))}
          </div>
        )
      }
      <div class="flex items-center gap-5">
        <span>{t("blog.share")}</span>
        <Social
          linkType="share"
          list={SocialData.main}
          slug={Astro.url.pathname}
          title={title}
        />
      </div>
    </div>
    {
      content && content.collection && (
        <div class="mt-10 border-t pt-10">
          <PaginationForSingle
            prevBtnText={t("blog.paginationPrevious")}
            nextBtnText={t("blog.paginationNext")}
            collection={content.collection}
            currentPage={content}
          />
        </div>
      )
    }
  </div>
</div>
